{% extends 'userpanel\base.html' %}

{% block bodycontent %}
<div class="message-board">
    {% for field in form %}
        <p>{{ field.errors}} </p>
    {% endfor %}
    {{ form.non_field_errors }}
</div>
    <div class="form-section login-section">
        <p class="page-title">
            Reset Your Password
        </p>
        <form action="" method="post">
            {% csrf_token %}
            <div class="newpassword">
                <label class="formlabel" for="id_new_password1">New password:</label>
                <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
            </div>
            <div class="confirmpassword">
                <label for="id_new_password2">New password confirmation:</label>
                <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
            </div>
            <button class="submit email-submit" type="submit">Reset password</button>
        </form>
    </div>
    {% if form.non_field_errors %}
        <div class="message-board">
            <i class="fa-solid fa-circle-exclamation"></i>
            {{ form.non_field_errors }}
        </div>
    {% endif%}
    {% if messages %}
        <div class="guide-message">
            <p>{{ message }}</p>
        </div>
    {% endif %}
{% endblock bodycontent %}