{% extends 'userpanel\base.html' %}

{% block bodycontent %}
    <div class="form-section login-section">
        <p class="page-title">
            Reset Your Password
        </p>
        <form action="" method="post">
            {% csrf_token %}
            <p class="reset-instructions">Once you hit the "Send E-mail" button, a secure e-mail will be sent to the e-mail address 
                you present with a secure link to the password reset page.
            </p>
            <label class="formlabel" for="id_email">Email:</label>
            <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
            <button class="submit email-submit" type="submit">Send E-mail</button>
        </form>
    </div>
    {% if form.non_field_errors %}
        <div class="message-board">
            <i class="fa-solid fa-circle-exclamation"></i>
            {{ form.non_field_errors }}
        </div>
    {% endif%}
    {% if messages %}
        <div class="guide-message">
            <p>{{ message }}</p>
        </div>
    {% endif %}
{% endblock bodycontent %}